.calc {
	&__btn-wrap {
		flex-grow: 1;
		flex-basis: 0;
		background: grey;

		&:not(:last-child) > .calc__btn {
			border-right: 5px solid #b3b3b3;
		}

		&:hover {
			background: rgb(204, 204, 204);
		}

		&--2x {
			flex: 2;
		}

		&--imp {
			background: rgb(240, 156, 0);
			&:hover {
				background: #ffb836;
			}
		}
	}

	&__btn {
		cursor: pointer;
		outline: 0;
		color: black;
		font-size: 18px;
		height: 50px;
		width: 100%;
	}
}
